/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
:root {
  --color-font: white; /* #57606f; font colors */
  --color-primary: #ff6348; /* bruschetta tomato */
  --color-secondary: #3742fa; /* bright greek */
  --color-accent: #ffa502; /* orange */
  --color-accent-light: #70a1ff; /* french sky blue */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  /* margin: 0; */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/

body {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: x-large;
  color: var(--color-font);
  background-color: #747d8c;
  align-self: center;
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

header {
  text-align: left;
  justify-content: space-evenly;
  align-self: stretch;
}

h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.5rem;
}

.button {
  border: 1px solid var(--color-secondary);
  color: var(--color-accent);
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: background-color 350ms ease-in-out, 350ms ease-in-out;
}

.button:hover {
  background-color: (var(--color-secondary));
  color: var(--color-secondary);
}

/* main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
} */

article,
aside {
  margin-bottom: 6rem;
}

footer {
  padding: 1rem 1rem;
  background-color: var(--color-accent-light);
}

a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 700;
}

a[href]:hover {
  color: var(--color-accent-light);
}

.hero {
  position: relative;
  height: 80rem;
}

.hero h1 {
  font-size: clamp(3.5rem, 6vw, 6rem);
  inset: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.hero p {
  position: relative;
  color: white;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cards {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 1rem;
  margin: 0 1rem;
}

.card {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  opacity: 80%;
}

.card:hover {
  opacity: 100%;
  transform: scale(1.05);
  transition: 300ms ease-in-out;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
